@model CreateBoekViewModel

<h2>Nieuw boek toevoegen</h2>
<div class="card">
	<div class="card-body">
		<form asp-action="Create" asp-controller="Boeken" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<div class="form-group">
				<label asp-for="Boek.Titel"></label>
				<input asp-for="Boek.Titel" class="form-control" />
				<span asp-validation-for="Boek.Titel" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="SelectedAuteurId" class="control-label"></label>
				<select asp-for="SelectedAuteurId" class="form-control" asp-items="@(new SelectList(Model.Auteurs, "AuteurId", "Naam"))"></select>
				<span asp-validation-for="SelectedAuteurId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<div class="form-group">
					<input type="checkbox" asp-for="Boek.IsAvailable" class="form-check-input" />
					<label>&nbsp;Beschikbaar</label>
				</div>
			</div>

			<div class="form-group">
				<div class="form-group">
					<input type="checkbox" asp-for="Boek.IsNewRelease" class="form-check-input" />
					<label>&nbsp;Nieuw Uitgave</label>
				</div>
			</div>

			<div class="form-group">
				<div class="form-group">
					<input type="checkbox" asp-for="Boek.IsBestSeller" class="form-check-input" />
					<label>&nbsp;Best seller</label>
				</div>
			</div>

			<div class="form-group">
				<label class="mt-2"><b>Type binding</b></label>
				<div class="form-check">
					<input type="radio" asp-for="Boek.BindingType" value="HardCover" class="form-check-input" />
					<label>Hardcover</label>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input type="radio" asp-for="Boek.BindingType" value="Paperback" class="form-check-input" />
					<label>Paperback</label>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input type="radio" asp-for="Boek.BindingType" value="Ebook" class="form-check-input" />
					<label>Ebook</label>
				</div>
			</div>
			<span asp-validation-for="Boek.BindingType" class="text-danger"></span>

			<div class="form-group my-2">
				<label><b>Genres</b></label>
				@foreach (var genre in Model.Genres)
				{
					<div class="form-check">
						<input type="checkbox" name="SelectedGenres" value="@genre.GenreId" class="form-check-input" />
						<label class="form-check-label">@genre.Naam</label>
					</div>
				}
			</div>

			<div class="form-group">
				<label><b>Afbeelding</b></label>
				<input type="file" asp-for="Afbeelding" class="form-control-file" onchange="previewImage(event)" />
				<span asp-validation-for="Afbeelding" class="text-danger"></span>
			</div>

			<div class="form-group">
				<img id="afbeeldingPreview" src="@Model.AfbeeldingPad" class="img-thumbnail img-fluid" style="height: 200px; margin-right: 15px;" alt="Boek Afbeelding" />
				<button type="submit" class="btn btn-primary">Opslaan</button>
			</div>
			
		</form>
	</div>
</div>